body *{
    margin-top: 30px;
}
.container{
    width: 600px;
    border: 1px solid green;
}
table{
    width: 600px;
    border-spacing: 2px;
    border: 1px solid #bbb;
}
.p-table tr{
    height: 27px;
}
.p-table tr th, .p-table tr td{
    text-align: left;
    border: 1px solid #ccc;
}
#itotal{
    width: 99%;
    height: 100%;
    margin: 0;
    border: none;
}
